extends layout 

block layout-content 
  h1 Hi, This is all about Lateef Sanni
  p You are going to want to know him!
  
  div.buttons
    a(href="/admin/award" class="btn btn-primary") View His Awards
  div.buttons
    a(href="/admin/publication" class="btn btn-primary") View His Publications

