extends layout 

block layout-content 
  h1 Test Apis
  div.buttons
    a(href="/api/award" class="btn admin-button") View Award
    a(href="/api/publication" class="btn admin-button") Add Publication
